* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header nav .up {
  background: #d40132;
  padding: 10px;
}
header nav .up .menu ul {
  list-style-type: none;
  width: fit-content;
  margin: auto;
}
header nav .up .menu ul li {
  display: inline-block;
}
header nav .up .menu ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 16px;
}
header nav .down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  color: white;
}
header nav .down .logo h2 a {
  text-decoration: none;
  color: white;
}
header nav .down .cart-icon a {
  text-decoration: none;
  color: white;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
}
.banner h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 60px;
}
.banner.about {
  position: relative;
  background: linear-gradient(to bottom, #1c1f22, #000);
  min-height: 400px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  text-align: center;
}
.banner.about::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: " ";
  display: block;
  background-image: url(../images/bg.png);
  background-size: 50px;
  background-repeat: repeat;
}
.banner.about .content p {
  width: 500px;
  letter-spacing: 1px;
  font-size: 18px;
  margin: auto;
}
.banner.about > * {
  position: relative;
  z-index: 1;
}

.bg-light {
  background: #f4f4f4;
}

.bg-dark {
  background: #1c1f22;
}

.bg-grad {
  background: linear-gradient(to bottom, #1c1f22, #141414);
}

.featured-products {
  padding: 50px 200px;
}
.featured-products .featured {
  background: black;
  position: relative;
}
.featured-products .featured figure {
  opacity: 0.4;
}
.featured-products .featured img {
  width: 100%;
  max-height: 400px;
  height: 350px;
  object-fit: cover;
  display: block;
}
.featured-products .featured .content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.featured-products .featured .content p {
  font-size: 40px;
  color: white;
  text-align: center;
}
.featured-products .featured::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 5px;
  background-color: #d40132;
  transition: 0.5s ease;
  height: 4px;
}
.featured-products .featured:hover::after {
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(212, 1, 50, 0) 0%, #d40132 100%);
  height: 100%;
}

.shop {
  padding: 50px 100px;
}
.shop .shop-item {
  background: black;
  position: relative;
}
.shop .shop-item img {
  width: 70%;
  max-height: 400px;
  height: 250px;
  object-fit: contain;
  display: block;
  position: relative;
  z-index: 2;
  margin: auto;
}
.shop .shop-item .content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 20px;
}
.shop .shop-item .content h3 {
  font-size: 23px;
  text-transform: uppercase;
}
.shop .shop-item .content p {
  margin-top: 20px;
  font-size: 20px;
}
.shop .shop-item .content .add-to-cart {
  display: inline-block;
  padding: 10px 16px;
  background: #1c1f22;
  border: 2px solid #d40132;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  transform: 0.2s ease;
}
.shop .shop-item .content .add-to-cart:hover {
  background: #d40132;
}
.shop .shop-item::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 5px;
  background-color: #d40132;
  transition: 0.5s ease;
}
.shop .shop-item:hover .content {
  color: black;
}
.shop .shop-item:hover::after {
  background-color: #fff;
  height: 100%;
}

.why {
  padding: 50px 300px;
}
.why .why-item {
  padding: 10px;
}
.why .why-item h1 {
  font-size: 60px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  margin-bottom: 16px;
}
.why .why-item p {
  font-size: 18px;
  letter-spacing: 1px;
}
.why .why-item:nth-child(1) h1 {
  background: linear-gradient(127deg, #d40132, #f39200);
}
.why .why-item:nth-child(2) h1 {
  background: linear-gradient(252deg, #00a983, #2fa0da);
}
.why .why-item:nth-child(3) h1 {
  background: linear-gradient(309deg, #76b82b, #e4d772);
}

.orders {
  padding: 50px 100px;
}

.cart {
  padding: 50px 0;
  width: 780px;
  margin: auto;
}
.cart .cart-item {
  border: 3px solid rgba(28, 31, 34, 0.25);
  margin-bottom: 30px;
  display: flex;
}
.cart .cart-item:last-child {
  margin-bottom: 0 !important;
}
.cart .cart-item img {
  width: 200px;
}
.cart .cart-item .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.cart .cart-item .content .title p {
  padding: 0;
  margin-top: 10px;
}
.cart .cart-item .content h3 {
  font-size: 30px;
}
.cart .cart-item .content p {
  padding: 20px;
}
.cart .cart-item .content .desc {
  max-width: 300px;
}
.cart .cart-item .content .close {
  font-size: 40px;
}
.cart .cart-item .content .close a {
  text-decoration: none;
  color: black;
}

.buttons {
  width: 780px;
  margin: auto;
}
.buttons a {
  display: inline-block;
  padding: 10px 16px;
  background: #d40132;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.buttons a:hover {
  background: #141414;
}

.heading {
  text-align: center;
}
.heading h2 {
  font-size: 40px;
}
.heading + * {
  margin-top: 50px;
}

.grid {
  display: flex;
  gap: 20px;
}

.width-1-2 {
  width: 50%;
}

.width-1-3 {
  width: 33.3222259247%;
}

.form {
  padding: 50px 0;
  width: 500px;
  margin: auto;
}
.form form {
  width: 100%;
  color: white;
}
.form form div {
  margin-bottom: 20px;
}
.form form div label {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.form form div input,
.form form div textarea {
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0;
  color: #fff;
  font-family: acumin-pro, Arial, sans-serif;
  font-size: 16px;
  height: 49px;
  line-height: 49px;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  outline: none;
  margin-top: 10px;
}
.form form div input:focus,
.form form div textarea:focus {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}
.form form div textarea {
  min-height: 200px;
  resize: none;
}
.form form button {
  display: block;
  width: 100%;
  background: #d40132;
  border: 1px solid #d40132;
  padding: 20px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.form form button:hover {
  background: #1c1f22;
  border: 1px solid #1c1f22;
  color: #fff;
}

.admin {
  padding: 50px 100px;
}

.admin-item {
  display: flex;
  border: 2px solid lightgray;
  margin-bottom: 10px;
}
.admin-item:last-child {
  margin-bottom: 0;
}
.admin-item img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.admin-item .content {
  display: block;
  padding: 20px;
}
.admin-item .content h3 {
  color: #2fa0da;
  font-size: 30px;
  font-weight: 600;
}
.admin-item .content .price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.admin-item .content .edit,
.admin-item .content .delete {
  display: inline-block;
  padding: 10px 16px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.admin-item .content .edit:hover,
.admin-item .content .delete:hover {
  background: transparent;
}
.admin-item .content .edit {
  background: #2fa0da;
  border-color: #2fa0da;
  margin-right: 10px;
}
.admin-item .content .edit:hover {
  color: #2fa0da;
}
.admin-item .content .delete {
  background: #d40132;
  border-color: #d40132;
}
.admin-item .content .delete:hover {
  color: #d40132;
}

.message {
  padding: 10px;
  border: 1px solid transparent;
  text-align: center;
  margin-bottom: 20px;
}
.message.success {
  background: #76b82b30;
  border-color: #76b82b;
  color: white;
}
.message.error {
  background: #d4013230;
  border-color: #d40132;
  color: white;
}
.message a {
  color: white;
}

footer {
  padding: 50px 100px;
  color: white;
}
footer .menu strong {
  font-size: 20px;
  letter-spacing: 1px;
}
footer .menu ul {
  margin-top: 16px;
  list-style-type: none;
}
footer .menu ul li {
  margin-bottom: 4px;
}
footer .menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px;
}
footer .menu ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .banner {
    height: 500px;
  }
  .banner h1 {
    font-size: 30px;
  }

  .featured-products .featured img {
    max-height: 250px;
  }
  .featured-products .featured .content p {
    font-size: 20px;
  }

  .shop .shop-item img {
    max-height: 250px;
  }

  .why .why-item h1 {
    font-size: 40px;
  }
}
@media (max-width: 960px) {
  header nav .down {
    padding-left: 50px;
    padding-right: 50px;
  }

  .banner {
    padding: 0 50px;
  }

  .featured-products {
    padding: 50px 100px;
  }

  .shop,
.cart,
.form {
    padding: 50px;
  }

  .form form {
    width: 100%;
  }

  .cart .cart-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cart .cart-item img {
    width: 150px;
    display: block;
    margin: auto;
  }
  .cart .cart-item .content {
    padding: 0;
    flex-direction: column;
  }
  .cart .cart-item .content .title {
    text-align: center;
  }
  .cart .cart-item .content .close {
    position: absolute;
    top: 0;
    right: 0;
  }
  .cart .buttons {
    width: 100%;
  }

  .why {
    padding: 50px 100px;
  }

  .grid {
    flex-wrap: wrap;
  }

  .width-1-2 {
    width: 100%;
  }

  .width-1-3 {
    width: 100%;
  }

  .shop .shop-item img {
    max-height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
